numpy==1.15.0
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
matplotlib==2.2.2
tensorboard==1.9.0
tensorflow-gpu==1.9.0
opencv-python==3.4.2.17
absl-py==0.3.0
astor==0.7.1
cloudpickle==0.5.3
cycler==0.10.0
cython==0.28.5
dask==0.18.2
decorator==4.3.0
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
imutils==0.4.6
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Markdown==2.6.11
networkx==2.1
Pillow==5.2.0
protobuf==3.6.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
PyYAML==3.13
six==1.11.0
setuptools==39.1.0
termcolor==1.1.0
toolz==0.9.0
Werkzeug==0.14.1
